html,
body {
  background-color: $color-alt;
  box-sizing: border-box;
  font-family: $font-base;

  &::-webkit-scrollbar {
    background-color: $color-alt;
    border-radius: 10px;
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-alt;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-base;
    border-radius: 10px;
  }
}
