.portfolio {
  height: 100vh;
  position: relative;
  width: 100%;

  &_container {
    .portfolio_title {
      color: $color-white;
      text-align: center;
      font-size: 54px;
      transform: translateY(60px);
    }
  }
}
