:root {
  --swiper-pagination-bullet-height: 20px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-color: #fff;
  --swiper-navigation-color: #fff;
}

.portfolio {
  position: relative;
  width: 100%;

  .swiper {
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 10;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .swiper-3d .swiper-slide-shadow-right,
  .swiper-3d .swiper-slide-shadow-left {
    background-image: none;
  }

  .swiper-pagination {
    position: static;
    padding-top: 20px;
  }

  .swiper-button-prev {
    left: 50px;
  }

  .swiper-button-next {
    right: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
    z-index: 2;
    opacity: 0.3;
  }

  &_title {
    color: $color-white;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    position: relative;
    z-index: 3;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    .swiper-button-prev {
      left: 20px;
    }

    .swiper-button-next {
      right: 20px;
    }
  }
}
