.starter {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  .bubble {
    background: radial-gradient(circle at center, #edfffa 0%, $color-alt 100%);
    width: 250px;
    height: 250px;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    position: absolute;
    border-radius: 50%;
    animation: play 20s infinite linear;
    z-index: 0;
  }

  @keyframes play {
    0% {
      transform: translateX(-300px) translateY(0px);
    }

    100% {
      transform: translateX(120vw) translateY(-50vh);
    }
  }

  .bubble2 {
    background: radial-gradient(circle at center, #edfffa 0%, $color-alt 100%);
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    position: absolute;
    border-radius: 50%;
    animation: play2 15s infinite linear;
    z-index: 0;
  }

  @keyframes play2 {
    0% {
      transform: translateX(-300px) translateY(-60vh);
    }

    100% {
      transform: translateX(120vw) translateY(0);
    }
  }

  .bubble3 {
    background: radial-gradient(circle at center, #edfffa 0%, $color-alt 100%);
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    opacity: 0.05;
    position: absolute;
    border-radius: 50%;
    animation: play3 10s infinite linear;
    z-index: 0;
  }

  @keyframes play3 {
    0% {
      transform: translateX(40vw) translateY(-150px);
    }

    100% {
      transform: translateX(-20vw) translateY(50vh);
    }
  }

  .bubble4 {
    background: radial-gradient(circle at center, #edfffa 0%, $color-alt 100%);
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    opacity: 0.05;
    position: absolute;
    border-radius: 50%;
    animation: play4 20s infinite linear;
    z-index: 0;
  }

  @keyframes play4 {
    0% {
      transform: translateX(50vw) translateY(-150px);
    }

    100% {
      transform: translateX(120vw) translateY(100vh);
    }
  }

  &_container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    height: 90%;
    width: 100%;

    &__image {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        width: 600px;
      }
    }

    &__text {
      color: $color-white;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 22px;
        letter-spacing: 2px;
        padding-bottom: 20px;
      }

      h1 {
        font-size: 64px;
        font-weight: bold;
        padding-bottom: 30px;

        span {
          color: $color-base;
        }
      }

      .position {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        opacity: 0.5;
        padding-bottom: 80px;
      }

      a {
        align-self: flex-start;
        color: $color-white;
        cursor: pointer;
        text-decoration: none;
        padding: 15px 30px;
        border: 2px solid $color-base;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        transition: 0.3s;
        box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 1);

        &:hover {
          background-color: $color-base;
          color: $color-alt;
          transform: translateY(5px);
        }
      }
    }

    &__icons {
      display: flex;
      flex-direction: column;
      gap: 30px;

      svg {
        transition: 0.7s ease-in-out;

        &:hover {
          fill: #990000;
          transform: rotate(360deg);
        }
      }
    }
  }

  .scroll {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;

    svg {
      cursor: pointer;
      transition: 0.3s;
      z-index: 20;

      &:hover {
        transform: translateY(10px);
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .starter {
    &_container {
      &__image {
        img {
          width: 500px;
        }
      }

      &__text {
        .title {
          font-size: 18px;
        }

        h1 {
          font-size: 50px;
        }

        .position {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .starter {
    &_container {
      &__image {
        img {
          width: 350px;
        }
      }

      &__text {
        .title {
          font-size: 16px;
        }

        h1 {
          font-size: 40px;
        }

        .position {
          font-size: 18px;
          padding-bottom: 50px;
        }

        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .starter {
    &_container {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &__image {
        img {
          width: 250px;
        }
      }

      &__text {
        align-items: center;
        text-align: center;

        .title {
          font-size: 16px;
        }

        h1 {
          font-size: 40px;
        }

        .position {
          font-size: 18px;
        }

        a {
          align-self: center;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      &__icons {
        flex-direction: row;
      }
    }
  }
}
